<div>
	<div id="banner">
		<h1>TASTE OF LIFE</h1>
    <p>Find recipes, share your recipes, and find jobs!</p>
	</div>
  <div id="home">
		<div class="background">
      <br>
      <br>
        <div class="input-group input-group-lg">
				<span class="input-group-addon" id="sizing-addon1">Username:</span>
  				<input type="text" class="form-control" placeholder="email" [(ngModel)]="username">
			</div>
			<br>     
			<div class="input-group input-group-lg">
				<span class="input-group-addon" id="sizing-addon2">Password: </span>
  				<input type="text" class="form-control" placeholder="password" [(ngModel)]="password">
			</div>
			<br>
			<div id="hreflink">
			<a href="/auth/facebook" class="btn btn-primary">Login with Facebook</a>
			</div>
    </div>
	</div>
</div>



