<div id="banner">
		<h1>TASTE OF LIFE</h1>
	</div>
	<div id="navcontainer">
		<ul id="navlist">
		<a  [routerLink] = "['/welcome/']">HOME</a>
		<a  [routerLink] = "['/postrecipe/']">POST RECIPE</a>
		<a  [routerLink] = "['/searchrecipe/']">SEARCH RECIPE</a>
		<a  [routerLink] = "['/myrecipes/']">MY RECIPES</a>
		<a  [routerLink] = "['/upgradeaccount/']">UPGRADE ACCOUNT</a>
		<a  [routerLink] = "['/postjob/']">POST JOB</a>
		<a  [routerLink] = "['/postedjoblist/']">VIEW JOBS</a>
		<a  [routerLink] = "['/myprofile/']">MY PROFILE</a>
			
		</ul>
	</div>
	<div id="upgrade">
			<div class="background">
				<div class="recipes">
					<h1>Upgrade Account</h1>
					<h3>$9.99 + tax per year</h3><br>
					User Name: <input type="text" name="username"><br><br>
					Card Number: <input type="text" name="cardnumber"><br><br>
					Expire Date: <input type="date" name="expiredate"><br><br>
					Security Code: <input type="text" name="securitycode"><br><br>
					Zip Code: <input type="text" name="zipcode"><br><br>
					<button style="height:30px;width:100px">Pay</button>
				</div>
			</div>
	